  <div id="top-bar"></div>
  <div id="container-quote">
    <h1 id="quote">{{quote}}</h1>
    <h2 id="author">
      <a id="author-link" href={{search}} target="_blank">
        <span><b>—</b></span>&nbsp;&nbsp;{{author}}
      </a>
    </h2>
  </div>
  <div id="media-block">
    <ul>
      <!-- 
      <li>Facebook | </li>
      <li>Twitter | </li>

      <li id="show-text-input"><button>Get this as a text message!</button></li>
      -->
    </ul>
  </div>
  <div id="signup-text">
    <p id="form-text">Coolio! Just put your number in.</p>
    <label id="label-phone" for="email"></label>
    <input id="input-phone" type="text" name="signup" placeholder="0123456789">
    <button id="send" class="button-primary">Send</button>
    <p id="form-fail">Phone number must be ten digits long and consist of only numbers.</p>
  </div>
  <p id="form-success">Success! We got it.</p>

  <div id="buttons">
    <button id="random">Get Random</button>
    <button id="used-quotes">Get More</button>
  </div>
  
  <div id="quote-listing"></div>
  
  <footer>Run Inspired <span><b>&#9786;</b></span></footer>